/* line 2, sass/partials/_cart.scss */
.cart-details {
  position: absolute;
  visibility: hidden;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  opacity: 1;
  color: #fff;
  background-color: #383838;
  display: block;
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
}
/* line 21, sass/partials/_cart.scss */
.cart-details::-webkit-scrollbar {
  display: none;
}

/* line 26, sass/partials/_cart.scss */
.cart-details::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

/* line 39, sass/partials/_cart.scss */
.cart-details-open .cart-details::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* line 47, sass/partials/_cart.scss */
.empty-msg {
  display: none;
  margin-top: 60px;
  text-align: center;
}

/* line 53, sass/partials/_cart.scss */
.itemRow {
  border-bottom: 1px solid #666666;
  padding: 20px 5px;
  overflow: hidden;
}

/* line 60, sass/partials/_cart.scss */
.simpleCart_items {
  border-top: 1px solid #666666;
  margin-top: 30px;
}
/* line 63, sass/partials/_cart.scss */
.simpleCart_items .headerRow {
  display: none;
}
/* line 66, sass/partials/_cart.scss */
.simpleCart_items .item-thumb img {
  width: 80px;
  margin: 0 15px 0 10px;
  float: left;
}
/* line 71, sass/partials/_cart.scss */
.simpleCart_items .item-name {
  margin: 5px 0 10px 0;
}
/* line 74, sass/partials/_cart.scss */
.simpleCart_items .item-quantity, .simpleCart_items .item-price, .simpleCart_items .item-cell {
  display: inline-block;
}
/* line 77, sass/partials/_cart.scss */
.simpleCart_items .item-cell {
  margin: 0 6px;
  font-weight: 300;
  font-size: 14px;
}

/* line 84, sass/partials/_cart.scss */
.item-remove {
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #5D3380;
  width: 80px;
  text-align: center;
  margin: 15px auto 0;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
}
/* line 95, sass/partials/_cart.scss */
.item-remove a {
  color: #fff;
}
/* line 98, sass/partials/_cart.scss */
.item-remove:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid #5D3380;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
/* line 116, sass/partials/_cart.scss */
.item-remove:hover {
  background-color: #fff;
}
/* line 118, sass/partials/_cart.scss */
.item-remove:hover a {
  color: #5D3380;
}
/* line 121, sass/partials/_cart.scss */
.item-remove:hover:before {
  transform: scale3d(1, 1, 1);
  opacity: 1;
}

/* line 128, sass/partials/_cart.scss */
.animation-effect.site-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

/* line 135, sass/partials/_cart.scss */
.animation-effect.cart-details-open .wrapper-outer, .animate.itemRow {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  overflow-y: hidden;
}

/* line 141, sass/partials/_cart.scss */
.animation-effect.cart-details {
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 148, sass/partials/_cart.scss */
.animation-effect.cart-details-open .animation-effect.cart-details {
  visibility: visible;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-speed: 0.2s;
  transition-speed: 0.2s;
}

/* line 160, sass/partials/_cart.scss */
.cart-total {
  margin-top: 60px;
  text-align: center;
}

/* line 1, sass/partials/_menu.scss */
.menu-overlay {
  transition: opacity 0.5s, visibility 0s 0.5s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1500;
  background: rgba(93, 51, 128, 0.9);
  opacity: 0;
  visibility: hidden;
}

/* line 14, sass/partials/_menu.scss */
.menu-overlay nav {
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  perspective: 1200px;
  text-align: center;
  position: relative;
  top: 50%;
  height: 60%;
  font-size: 54px;
}

/* line 24, sass/partials/_menu.scss */
.menu-overlay ul {
  -moz-transition: -moz-transform, opacity 0.5s, 0.5s;
  -o-transition: -o-transform, opacity 0.5s, 0.5s;
  -webkit-transition: -webkit-transform, opacity 0.5s, 0.5s;
  transition: transform, opacity 0.5s, 0.5s;
  -moz-transform: translateY(-25%) rotateX(35deg);
  -ms-transform: translateY(-25%) rotateX(35deg);
  -webkit-transform: translateY(-25%) rotateX(35deg);
  transform: translateY(-25%) rotateX(35deg);
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  height: 100%;
  position: relative;
  opacity: 0.4;
}
/* line 34, sass/partials/_menu.scss */
.menu-overlay ul li {
  display: block;
  height: 25%;
  min-height: 54px;
}

/* line 41, sass/partials/_menu.scss */
.menu-overlay a {
  transition: color 0.2s;
  font-weight: 300;
  display: block;
  color: #fff;
}
/* line 46, sass/partials/_menu.scss */
.menu-overlay a:hover {
  color: #A09FA1;
}

/* line 51, sass/partials/_menu.scss */
.menu-overlay.open {
  transition: opacity 0.5s;
  opacity: 1;
  visibility: visible;
}
/* line 55, sass/partials/_menu.scss */
.menu-overlay.open ul {
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}

/* line 61, sass/partials/_menu.scss */
.menu-overlay.closed nav ul {
  -moz-transform: translateY(25%) rotateX(-35deg);
  -ms-transform: translateY(25%) rotateX(-35deg);
  -webkit-transform: translateY(25%) rotateX(-35deg);
  transform: translateY(25%) rotateX(-35deg);
}

/* line 1, sass/partials/_modal.scss */
.modal {
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  max-width: 630px;
  min-width: 320px;
  z-index: 2000;
  visibility: hidden;
  background: #fff;
  height: 60%;
  width: 75%;
  top: 50%;
  left: 50%;
  margin: auto;
  transform: translate(-50%, -50%);
}
@media (max-width: 800px) {
  /* line 1, sass/partials/_modal.scss */
  .modal {
    width: 100%;
    height: 100%;
  }
}

/* line 22, sass/partials/_modal.scss */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.7);
  visibility: hidden;
  z-index: 1600;
  transition: all 0.3s;
}

/* line 34, sass/partials/_modal.scss */
.modal-container {
  border-radius: 8px;
  padding: 20px;
  transform: scale(0.7);
  opacity: 0;
  transition: all 0.3s;
  height: 100%;
  overflow: scroll;
}
/* line 42, sass/partials/_modal.scss */
.modal-container .content {
  overflow: hidden;
  display: block;
  height: 300px;
}
@media (max-width: 800px) {
  /* line 42, sass/partials/_modal.scss */
  .modal-container .content {
    height: auto;
  }
}

/* line 52, sass/partials/_modal.scss */
.show .modal-container {
  transform: scale(1);
  opacity: 1;
}

/* line 57, sass/partials/_modal.scss */
.modal-overlay.show, .modal.show {
  opacity: 1;
  visibility: visible;
}

/* line 62, sass/partials/_modal.scss */
.title-section {
  text-align: center;
}
/* line 64, sass/partials/_modal.scss */
.title-section > .item_price {
  display: inline-block;
  font-weight: bold;
}

/* line 70, sass/partials/_modal.scss */
.full-description {
  text-align: justify;
  float: right;
  width: 60%;
}
@media (max-width: 800px) {
  /* line 70, sass/partials/_modal.scss */
  .full-description {
    float: none;
    width: 100%;
  }
}

/* line 80, sass/partials/_modal.scss */
.full-image {
  height: 280px;
  float: left;
  margin-top: -50px;
  margin-left: -10px;
}
@media (max-width: 800px) {
  /* line 80, sass/partials/_modal.scss */
  .full-image {
    margin: 0 auto;
    width: 230px;
    display: block;
    float: none;
  }
}

/* line 93, sass/partials/_modal.scss */
input[type="text"] {
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  transition: box-shadow 0.3s, border 0.3s;
}

/* line 99, sass/partials/_modal.scss */
input[type="text"]:focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

/* line 104, sass/partials/_modal.scss */
.purchase-wrapper {
  overflow: hidden;
  float: right;
}

/* line 110, sass/partials/_modal.scss */
.cart-button {
  cursor: pointer;
  display: inline-block;
  width: 150px;
  height: 40px;
  text-align: center;
  padding: 10px 5px;
  border-radius: 5px;
  border: 2px solid #5D3380;
  background-color: #5D3380;
  color: #fff;
  overflow: hidden;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-backface-visibility: hidden;
}
/* line 125, sass/partials/_modal.scss */
.cart-button:hover {
  color: #5D3380;
  background-color: #fff;
}
/* line 129, sass/partials/_modal.scss */
.cart-button::before {
  content: 'Add to cart';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
/* line 143, sass/partials/_modal.scss */
.cart-button > span {
  opacity: 0;
  color: #fff;
  margin-left: -5px;
  -webkit-transform: translate3d(0, -10px, 0);
  transform: translate3d(0, -10px, 0);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

/* line 156, sass/partials/_modal.scss */
.animation {
  background-color: #fff;
  cursor: default;
}
/* line 159, sass/partials/_modal.scss */
.animation::before {
  opacity: 0;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
/* line 164, sass/partials/_modal.scss */
.animation > span {
  color: #5D3380;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 170, sass/partials/_modal.scss */
.animation > span:nth-child(1) {
  -webkit-transition-delay: 0.045s;
  transition-delay: 0.045s;
}
/* line 174, sass/partials/_modal.scss */
.animation > span:nth-child(2) {
  -webkit-transition-delay: 0.09s;
  transition-delay: 0.09s;
}
/* line 178, sass/partials/_modal.scss */
.animation > span:nth-child(3) {
  -webkit-transition-delay: 0.135s;
  transition-delay: 0.135s;
}
/* line 182, sass/partials/_modal.scss */
.animation > span:nth-child(4) {
  -webkit-transition-delay: 0.18s;
  transition-delay: 0.18s;
}
/* line 186, sass/partials/_modal.scss */
.animation > span:nth-child(5) {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
/* line 190, sass/partials/_modal.scss */
.animation > span:nth-child(6) {
  -webkit-transition-delay: 0.27s;
  transition-delay: 0.27s;
}
/* line 194, sass/partials/_modal.scss */
.animation > span:nth-child(7) {
  -webkit-transition-delay: 0.315s;
  transition-delay: 0.315s;
}
/* line 198, sass/partials/_modal.scss */
.animation > span:nth-child(8) {
  -webkit-transition-delay: 0.36s;
  transition-delay: 0.36s;
}
/* line 202, sass/partials/_modal.scss */
.animation > span:nth-child(9) {
  -webkit-transition-delay: 0.405s;
  transition-delay: 0.405s;
}
/* line 206, sass/partials/_modal.scss */
.animation > span:nth-child(10) {
  -webkit-transition-delay: 0.45s;
  transition-delay: 0.45s;
}

/* line 212, sass/partials/_modal.scss */
.button-wrapper {
  position: relative;
  float: right;
  margin: 5px 5px 0 15px;
}

/*
.cart-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #3f51b5;
  z-index: -1;
  border-radius: inherit;
  opacity: 0;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
*/
/* line 242, sass/partials/_modal.scss */
.quantity-input {
  float: left;
  margin-top: 8px;
}
/* line 245, sass/partials/_modal.scss */
.quantity-input .icon {
  float: left;
}
/* line 248, sass/partials/_modal.scss */
.quantity-input .item_Quantity {
  float: left;
  border: 1px solid black;
  width: 50px;
  text-align: center;
  margin: 0 5px;
}

/* line 257, sass/partials/_modal.scss */
.icon {
  font-size: 24px;
  width: 32px;
  display: block;
  border: 2px solid #000;
  text-align: center;
  border-radius: 50%;
}
/* line 264, sass/partials/_modal.scss */
.icon.sidebar {
  color: #fff;
  border: 2px solid #fff;
}
/* line 268, sass/partials/_modal.scss */
.icon:hover {
  color: #5D3380;
  border: 2px solid #5D3380;
}

/* line 274, sass/partials/_modal.scss */
.plus {
  position: relative;
}

/* line 278, sass/partials/_modal.scss */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* line 2, sass/partials/_header.scss */
.cart-details-open header {
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  overflow-y: hidden;
}

/* line 8, sass/partials/_header.scss */
header {
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1300;
  background-color: #fff;
  transition: all 0.3s;
  height: 150px;
}

/* line 18, sass/partials/_header.scss */
.header-container {
  padding-bottom: 40px;
}
@media (max-width: 800px) {
  /* line 18, sass/partials/_header.scss */
  .header-container {
    padding-bottom: 110px;
  }
}
/* line 24, sass/partials/_header.scss */
.header-container.shrink .title-wrapper h1 {
  font-size: 30px;
}
/* line 27, sass/partials/_header.scss */
.header-container.shrink > header {
  height: 95px;
}
/* line 30, sass/partials/_header.scss */
.header-container.shrink .skater-icon {
  height: 70px;
}

/* line 36, sass/partials/_header.scss */
.title-wrapper {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 580px;
  left: calc(50% - 290px);
  margin-bottom: 15px;
  transition: all 0.3s;
}
/* line 47, sass/partials/_header.scss */
.title-wrapper h1 {
  font-size: 50px;
  display: inline-block;
  transition: all 0.3s;
}
/* line 52, sass/partials/_header.scss */
.title-wrapper .skater-icon {
  transition: all 0.3s;
}

/* line 2, sass/partials/_hamburger.scss */
.toggle {
  padding: 30px 0 0 25px;
  z-index: 1600;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  top: 0;
  float: left;
  transition: all 0.3s;
}
/* line 13, sass/partials/_hamburger.scss */
.toggle:hover .burger {
  background-color: #5D3380;
}
/* line 15, sass/partials/_hamburger.scss */
.toggle:hover .burger:before {
  background-color: #5D3380;
}
/* line 18, sass/partials/_hamburger.scss */
.toggle:hover .burger:after {
  background-color: #5D3380;
}
@media (max-width: 800px) {
  /* line 2, sass/partials/_hamburger.scss */
  .toggle {
    padding: 38px 0 0 15px;
  }
}

/*.burger-label{
  margin: 20px 0 0 -4px;
  &:hover{
    color: $body_background;
  }
}*/
/* line 35, sass/partials/_hamburger.scss */
.burger {
  transition: all 0.3s;
  width: 28px;
  height: 4px;
  margin: 10px 0;
  z-index: 1400;
  background: #000;
}

/* line 44, sass/partials/_hamburger.scss */
.burger:before {
  top: -12px;
}

/* line 48, sass/partials/_hamburger.scss */
.burger:after {
  top: 8px;
}

/* line 52, sass/partials/_hamburger.scss */
.toggle.open .burger {
  background-color: transparent;
}

/* line 56, sass/partials/_hamburger.scss */
.toggle.open .burger:before {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #fff;
  top: 3px;
}

/* line 62, sass/partials/_hamburger.scss */
.toggle.open .burger:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
  top: 0px;
}

/* line 68, sass/partials/_hamburger.scss */
.burger:after, .burger:before {
  transition: all 0.3s;
  content: '';
  display: block;
  width: 28px;
  height: 4px;
  background-color: #000;
  position: relative;
}

/* line 78, sass/partials/_hamburger.scss */
.burger.burger-hide {
  -moz-transform: translate3d(-300px, 0, 0);
  -ms-transform: translate3d(-300px, 0, 0);
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  overflow-y: hidden;
}

/* line 8, sass/partials/_base.scss */
* {
  box-sizing: border-box;
}

/* line 16, sass/partials/_base.scss */
html {
  background-color: #fff;
}

/* line 20, sass/partials/_base.scss */
body {
  font-family: Tahoma, sans-serif;
  margin: 0;
  background-color: #5D3380;
  padding-top: 0;
}

/* line 27, sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #000;
}
/* line 30, sass/partials/_base.scss */
a:hover {
  color: #5D3380;
}

/* line 35, sass/partials/_base.scss */
.site-wrapper {
  height: 100%;
}
/* line 37, sass/partials/_base.scss */
.site-wrapper ::-webkit-scrollbar {
  display: none;
}

/* line 6, sass/main.scss */
.site-container,
.wrapper-outer, .site-wrapper {
  height: 100%;
  overflow: scroll;
}

/* line 12, sass/main.scss */
.wrapper-inner {
  position: relative;
  overflow: scroll;
}

/* line 18, sass/main.scss */
.site-container {
  position: relative;
  overflow: hidden;
}

/* line 23, sass/main.scss */
.wrapper-outer {
  position: relative;
  left: 0;
  z-index: 900;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  /*overflow-x: hidden;*/
  background: #fff;
  -moz-transition: -moz-transform, 0.5s;
  -o-transition: -o-transform, 0.5s;
  -webkit-transition: -webkit-transform, 0.5s;
  transition: transform, 0.5s;
}

/* line 35, sass/main.scss */
.cart-icon {
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
/* line 39, sass/main.scss */
.cart-icon:hover {
  color: #5D3380;
}

/* line 44, sass/main.scss */
.cart-container {
  float: right;
  display: inline-block;
  margin: 10px 35px 0 0;
  transition: all 0.3s;
}
@media (max-width: 800px) {
  /* line 44, sass/main.scss */
  .cart-container {
    float: none;
    clear: both;
    width: 250px;
    margin: 0 auto;
    display: block;
    text-align: center;
  }
}

/* line 59, sass/main.scss */
.bought {
  -webkit-animation: color_change 10s alternate;
}

/* line 64, sass/main.scss */
.cart-info {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  font-weight: bold;
}

/* line 71, sass/main.scss */
.store-items {
  clear: both;
  max-width: 800px;
  width: 80%;
  margin: 70px auto;
  overflow: scroll;
}
@media (min-width: 501px) and (max-width: 725px) {
  /* line 71, sass/main.scss */
  .store-items {
    width: 400px;
  }
}

/* line 82, sass/main.scss */
.fixed {
  position: fixed;
}

/* line 86, sass/main.scss */
.item {
  position: relative;
  float: left;
  margin: 20px auto;
  width: 190px;
}
@media (max-width: 500px) {
  /* line 86, sass/main.scss */
  .item {
    float: none;
  }
}

@media (min-width: 731px) and (max-width: 965px) {
  /* line 96, sass/main.scss */
  .col {
    width: 200px;
    width: calc(50% - 95px);
  }
}

@media (min-width: 501px) and (max-width: 725px) {
  /* line 103, sass/main.scss */
  .item:nth-of-type(2n) {
    float: right;
  }
}

/* line 109, sass/main.scss */
.covering {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

/* line 118, sass/main.scss */
.image-container {
  overflow: hidden;
}

/* line 122, sass/main.scss */
.image-container:hover .covering {
  opacity: 0.9;
}

/* line 126, sass/main.scss */
.background {
  width: 100%;
  /*don't want to cover the text at the bottom*/
  height: calc(100% - 70px);
  background: white;
}

/* line 132, sass/main.scss */
.foreground {
  height: 38px;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

/* line 139, sass/main.scss */
img.resize {
  display: block;
  width: auto;
  height: 200px;
  margin: 20px auto;
}

/* line 146, sass/main.scss */
.product-info {
  margin: 0 30px;
  text-align: center;
}

/* line 151, sass/main.scss */
.title {
  margin: 10px 0;
}

/*# sourceMappingURL=main.css.map */
