
.cart-details {
  position: absolute;
  visibility: hidden;
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  opacity: 1;
  color: #fff;
  background-color: #383838;
  display: block;
  -webkit-transform: translate3d(0, 0, -300px);
  transform: translate3d(0, 0, -300px);
  &::-webkit-scrollbar { 
      display: none; 
  }
}

.cart-details::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  content: '';
  opacity: 1;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.cart-details-open .cart-details::after {
  width: 0;
  height: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
  transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.empty-msg{
  display: none;
  margin-top: 60px;
  text-align: center;
}

.itemRow{
  border-bottom: 1px solid #666666;
  padding: 20px 5px;
  overflow: hidden;
  //@include transition(transform, 0.5s);
}

.simpleCart_items{
  border-top: 1px solid #666666;
  margin-top: 30px;
  .headerRow{
    display: none;  
  }
  .item-thumb img{
    width: 80px;
    margin: 0 15px 0 10px;
    float: left;
  }
  .item-name{
    margin: 5px 0 10px 0;
  }
  .item-quantity, .item-price, .item-cell{
    display: inline-block;
  }
  .item-cell{
    margin: 0 6px;
    font-weight: 300;
    font-size: 14px;
  }
  .item-remove{
    padding: 10px 5px;
    border-radius: 5px;
    border: 2px solid $body_background;
    background-color: $body_background;
    width: 80px;
    text-align: center;
    margin: 15px auto 0;
    a{
        color: #fff;
    }
    &:hover{
      background-color: #fff;
      a{
        color: $body_background;
      }
    }
  }
}

.animation-effect.site-container {
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
}

.animation-effect.cart-details-open .wrapper-outer, .animate.itemRow {
  -webkit-transform: translate3d(-300px, 0, 0);
  transform: translate3d(-300px, 0, 0);
  overflow-y: hidden;
}

.animation-effect.cart-details{
  z-index: 1;
  opacity: 1;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.animation-effect.cart-details-open .animation-effect.cart-details{
  visibility: visible;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition-speed: 0.2s;
  transition-speed: 0.2s;
}

.cart-total{
  margin-top: 60px;
  text-align: center;
}
