
 .toggle {
  padding: 30px 0 0 25px;
  z-index: 1600;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  position: fixed;
  top: 0;
  float: left;
  transition: all 0.3s;
  &:hover{
    .burger{
      background-color: $body_background;
      &:before{
        background-color: $body_background;
      }
      &:after{
        background-color: $body_background;
      }
    }
  }
  @media(max-width: 800px){
    padding: 38px 0 0 15px;
  }
}

/*.burger-label{
  margin: 20px 0 0 -4px;
  &:hover{
    color: $body_background;
  }
}*/

.burger{
  transition: all 0.3s;
  width: 28px;
  height: 4px;
  margin: 10px 0;
  z-index: 1400;
  background: #000;
}

.burger:before {
  top: -12px;
}

.burger:after {
  top: 8px;
}

.toggle.open .burger{
  background-color: transparent;
}

.toggle.open .burger:before{
  @include transform(rotate(-45deg));
  background-color: #fff;
  top: 3px;
}

.toggle.open .burger:after{
  @include transform(rotate(45deg));
  background-color: #fff;
  top: 0px;
}

.burger:after, .burger:before {
  transition: all 0.3s;
  content: '';
  display: block;
  width: 28px;
  height: 4px;
  background-color: #000;
  position: relative;
}

.burger.burger-hide{
  @include transform(translate3d(-300px, 0, 0));
  overflow-y: hidden;
}
