.cart-details-open{
  header{
    @include transform(translate3d(-300px, 0, 0));
    overflow-y: hidden;
  }
}

header{
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1300;
  background-color: #fff;
  transition: all 0.5s;
  /*height: 150px;
  .header-shrink{
    height: 30px;
    font-size: 2em;
  }*/
}

.header-container{
  padding-bottom: 40px;
  @media (max-width: 800px){
    padding-bottom: 110px;
  }
}

h1{
  text-align: center;
  position: relative;
  float: left;
  width: 300px;
  left: calc(50% - 150px);
  margin: 15px 0;
  transition: all 0.3s;
}
