.cart-details-open{
  header{
    @include transform(translate3d(-300px, 0, 0));
    overflow-y: hidden;
  }
}

header{
  padding-top: 15px;
  position: fixed;
  width: 100%;
  z-index: 1300;
  background-color: #fff;
  transition: all 0.3s;
  height: 150px;
}

.header-container{
  padding-bottom: 40px;
  @media (max-width: 800px){
    padding-bottom: 110px;
  }
  &.shrink{
    .title-wrapper h1{
      font-size: 30px;
    }
    > header{
      height: 95px;
    }
    .skater-icon{
      height: 70px;
    }
  }
}

.title-wrapper{
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  float: left;
  width: 580px;
  left: calc(50% - 290px);
  margin-bottom: 15px;
  transition: all 0.3s;
  h1{
      font-size: 50px;
      display: inline-block;
      transition: all 0.3s;
  }
  .skater-icon{
    transition: all 0.3s;
  }
}
